/* Font = Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ---------------- */
/* root  styles */
:root {
  --bg: #f6f8ff;
  --primary: #7868e6;
  --dark: #0c0062;
  --danger: #ff5c58;
  --secondary: #696398;
  --light: #fff;
  --lt: #7868e61a;
  /* shadow */
  --shadow: 0px 10px 25px -5px rgba(12, 0, 98, 0.1);
  --shadow-sm: 0px 5px 20px rgba(12, 0, 98, 0.1);
  --card-shadow: 0px 4px 6px rgba(12, 0, 98, 0.1);
  --card-hover-shadow: 0px 15px 35px -5px rgba(12, 0, 98, 0.1);
  /* spacing */
  --spacing-1: 0.05em;
  --spacing-2: 0.1em;
}
/* ---------- */
/* Common css */
/* ---------- */
* {
  font-family: "Inter", sans-serif !important;
  transition: all 0.2s;
}
a {
  text-decoration: none !important;
}
body,
html {
  background: var(--bg) !important;
  scroll-behavior: smooth !important;
  transition: 2s !important;
}
/* header */
.glass-header {
  background: linear-gradient(
    89.84deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(221, 221, 221, 0.5);
}
/* colors */
.text-primary {
  color: var(--primary) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-danger {
  color: var(--danger) !important;
}
/* backgrounds */
.bg-primary {
  background: var(--primary) !important;
}
.bg-danger {
  background: var(--danger) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}
/* buttons */
.btn-primary {
  background: var(--primary) !important;
  color: var(--light) !important;
  border: 2px solid var(--primary) !important;
  letter-spacing: var(--spacing-2);
}
.btn-outline-primary {
  background: var(--lt) !important;
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
  letter-spacing: var(--spacing-2);
  font-weight: 600;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
  background: var(--primary) !important;
  color: var(--light) !important;
}
.active {
  background: var(--primary) !important;
  color: var(--light) !important;
}
.navbar-brand.active {
  background: none !important;
}
/* card */
.card {
  border: none !important;
}
.product-card {
  box-shadow: var(--card-shadow) !important;
  transition: all 0.2s;
}

.product-card:hover {
  box-shadow: var(--card-hover-shadow) !important;
}
.product-card img {
  aspect-ratio: 16/9;
  object-fit: contain;
}
/* shadow */
.shadow {
  box-shadow: var(--shadow);
}
.shadow-sm {
  box-shadow: var(--shadow-sm);
}
/* letter spacing */
.ls-1 {
  letter-spacing: var(--spacing-1) !important;
}
.ls-2 {
  letter-spacing: var(--spacing-2) !important;
}
/* center */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* font size */
.fs-lg {
  font-size: 4em;
}
/* title */
.title {
  position: relative;
}
.title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  content: "";
  border-radius: 1000px;
  background: var(--primary);
}
/* ellipsis text */
.text-dotted {
  display: block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
